<h1>Add a New Recipe</h1>

<form action="/recipes" method="post">
  <div class="md-form">
    <label for="form1" >Name</label>
    <input type="text" id="form1" class="form-control" name="name">
  </div>
  <div class="md-form">
    <label for="form1" >Description</label>
    <input type="text" id="form1" class="form-control" name="description">
  </div>
  <div class="md-form">
    <label for="form1" >Prep Time</label>
    <input type="text" id="form1" class="form-control" name="prep">
  </div>
   <div class="md-form">
    <label for="form1" >Difficulty</label>
    <input type="text" id="form1" class="form-control" name="difficulty">
  </div>
  <input type="submit" value="Add Recipe"> 
</form>

